body {
    font-family: Arial, sans-serif;
    background-color: #03000e;
    color: #ffffff;
    text-align: center; 
}

button {
    background-color: #4CAF50;
    border: 1px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
form {
    background-color: #03000e;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

input {
    background-color:#d5d955;
    color: #000000;
}

input::placeholder{
    color:#000000
}